{% set name = 'processing_severity_filter' %}

<div class="col-6 security_integration_item" data-name="{{ name }}" id="{{ name }}">
    <div class="card card-row-1">
        <div class="card-header">
            <div class="d-flex">
                <h9 class="flex-grow-1" style="line-height: 24px">Minimal Severity Filter</h9>
{#                <button type="button" class="btn btn-24 btn-action" data-toggle="collapse"#}
{#                        data-target="#settings_{{ name }}" aria-expanded="false"><i class="fas fa-cog"></i>#}
{#                </button>#}
                <label class="custom-toggle">
                    <input type="checkbox" data-target="#selector_{{ name }}" aria-expanded="false"
                           data-toggle="collapse"
                           class="integration_checkbox" id="integration_checkbox_{{ name }}">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-12 mb-3 pl-0" id="selector_{{ name }}">
                <select class="selectpicker" data-style="btn-secondary">
                    <option>Info</option>
                    <option>Critical</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('processing_severity_filter.static', filename='js/create_toggle.js') }}"
        type="text/javascript"></script>
